#!/usr/bin/env bash

source venv/bin/activate

export FLASK_APP=manager.py
export FLASK_ENV=production
export FLASK_DEBUG=0

export PRODUCTION_HOST="https://tokindle.top"
export UPLOAD_FOLDER="/tmp/push-to-kindle"

export MG_API_KEY="secret"
export MG_EMAIL_TO_FOR_TEST="secret@kindle.cn"

export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

uwsgi uwsgi.ini
