<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/icons/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/filepond/dist/filepond.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    
</head>

<body>
    <div class="main">
        <div class="title"><img src="/static/images/icons/favicon.png" class="logo"> {{ title }}</div>
        <div class="sentence desc"><span class="highlight">{{ title }}</span> 是一个<a href="https://github.com/Aneureka/push-to-kindle" target="_blank">开源</a>工具，可以往你的 Kindle 上推送文档，只要四步你的泡面板就多了一个用处啦。</div>
        <div class="step">
            <span class="number">1</span>
            <div class="content">
                <div class="sentence">将 <span class="click-to-copy highlight">{{ from_user }}</span> 添加到你亚马逊账号的已认可发件人电子邮箱列表中。<a href="https://www.amazon.cn/gp/help/customer/display.html?nodeId=201974220" target="_blank">❓</a></div>
            </div>
        </div>
        <div class="step">
            <span class="number">2</span>
            <div class="content">
                <input type="email" name="email" id="email" placeholder="💁把你的 Kindle 邮箱告诉我吧"/>
                <div class="notification warning" id="email-warning">你的 Kindle 邮箱会不会填错啦，应该是类似这样的格式：<span class="highlight">ilove@kindle.cn</span></div>
            </div>
        </div>
        <div class="step">
            <span class="number">3</span>
            <div class="content">
                <input type="file" name="file" id="file" style="visibility: hidden" />
                <div class="notification warning" id="file-type-warning">刚上传的文件格式不支持，会被忽略的哦。</div>
            </div>
        </div>
        <div class="step">
            <span class="number">4</span>
            <div class="content">
                <button id="push-button">启动推送！</button>
                <div class="notification error" id="email-error">请好好检查你的 Kindle 邮箱！</div>
                <div class="notification error" id="files-error">确保你还有未推送且符合格式的文件！</div>
            </div>
        </div>
        <hr />
        <div class="sentence footnote">目前支持一次推送 5 个文档，每个文档最大 10M。</div>
        <div class="sentence footnote">目前支持的文件格式：[.jpeg, .jpg, .gif, .png, .doc, .docx, .html, .htm, .rtf, .mobi, .azw, .bmp, .pdf]，不支持的文件格式将会被忽略哦。</div>
        <div class="sentence footnote">本网站承诺保护你的文件隐私安全，文件上传推送后会立即删除，若没有推送成功将会在一天内自动删除。</div>
        <div class="sentence footnote">如果在使用过程中遇到问题，请 <a href="mailto:aneureka2@gmail.com" target="_blank">联系作者邮箱</a> ，或在 <a href="https://github.com/Aneureka/push-to-kindle" target="_blank">Github</a> 上提相关 issue 哦（推荐）。</div>
        <div class="sentence footnote site-info">©2019 PUSH TO KINDLE!&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备18122198号</a></div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>    
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<!-- <script src="https://cdn.bootcss.com/eruda/1.5.2/eruda.min.js"></script> -->

<script>
$(function() {
    // debug mode
    // eruda.init();
    // function definition
    let isValidEmail = (email) => {
        let re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(kindle\.[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    };
    let copyToClipboard = (element) => {
        let $temp = $('<input>');
        $('body').append($temp);
        $temp.val($(element).text()).select();
        console.log($(element).text());
        document.execCommand('copy');
        $temp.remove();
    };

    // initialization
    const fadeDuration = 500;
    localStorage.setItem('uniqueFileIds', JSON.stringify([]));
    let email = localStorage.getItem('email');
    if (email) {
        $('#email').val(email);
        email.length === 0 || isValidEmail(email) ? $('#email-warning').fadeOut(fadeDuration) : $('#email-warning').fadeIn(fadeDuration);
    }
    let fileIds = [];
    $('.click-to-copy').click(function() {
        let that = $(this);
        copyToClipboard(that);
        let text = that.text();
        let color = that.css('color');
        that.text(' 已经复制到剪贴板啦! ');
        that.css('color', '#529467');
        that.css('pointer-events', 'none');
        setTimeout(function() {that.text(text); that.css('color', color); that.css('pointer-events', 'auto');}, 1000);
    });

    // email
    $('#email').change((e) => {
        email = e.target.value;
        localStorage.setItem('email', email);
        email.length === 0 || isValidEmail(email) ? $('#email-warning').fadeOut(fadeDuration) : $('#email-warning').fadeIn(fadeDuration);
    });

    // file
    $.fn.filepond.registerPlugin(FilePondPluginFileValidateSize, FilePondPluginFileValidateType);
    $('#file').filepond({
        maxFiles: 5,
        dropValidation: true,
        allowMultiple: true,
        labelIdle: '把文件拖到这儿 或 浏览本地文件',
        labelInvalidField: '包含了无效文件',
        labelFileWaitingForSize: '正在获取文件大小',
        labelFileSizeNotAvailable: '获取不到orz',
        labelFileLoading: '正在加载文件',
        labelFileLoadError: '加载错误！',
        labelFileProcessing: '文件上传中',
        labelFileProcessingComplete: '上传完成',
        labelFileProcessingAborted: '取消上传啦',
        labelFileProcessingError: '上传时遇到错误',
        labelFileProcessingRevertError: '撤销时遇到错误',
        labelFileRemoveError: '删除时遇到错误',
        labelTapToCancel: '取消 👉',
        labelTapToRetry: '重试 👉',
        labelTapToUndo: '撤销 👉',
        labelButtonRemoveItem: '删除',
        labelButtonAbortItemLoad: '中止',
        labelButtonRetryItemLoad: '重试',
        labelButtonAbortItemProcessing: '取消',
        labelButtonUndoItemProcessing: '撤销',
        labelButtonRetryItemProcessing: '重试',
        labelButtonProcessItem: '上传',
        maxFileSize: '10MB',
        maxTotalFileSize: '50MB',
        labelMaxFileSizeExceeded: '这个文件太大啦！',
        labelMaxFileSize: '最多最多只能 {filesize} 哦',
        labelMaxTotalFileSizeExceeded: '文件加起来太大了',
        labelMaxTotalFileSize: '最多只能 {filesize} 啦',
        server: {
            url: '{{ host }}',
            timeout: 7000,
            process: {
                url: '/files',
                method: 'POST',
                onload: (response) => {
                    response = JSON.parse(response);
                    if (response.code === 0) {
                        let fileId = response.data;
                        fileIds.push(fileId);
                        return fileId;
                    } else if (response.code === -1) {
                        $('#file-type-warning').fadeIn(fadeDuration);
                        setTimeout(() => {$('#file-type-warning').fadeOut(fadeDuration);}, 3000);
                        console.log(response.msg);
                    } else {
                        console.log(response.msg);
                    }
                },
                onerror: (response) => {
                    console.log(response);
                }
            },
            revert: {
                url: '/files',
                onload: (response) => {
                    response = JSON.parse(response);
                    let fileId = response.data;
                    let index = fileIds.indexOf(fileId);
                    if (index > -1) {
                        fileIds.splice(index, 1)
                    }
                    return fileId;
                }
            },
            fetch: null,
            load: null,
            restore: null
        }
    });

    $('#push-button').click(function() {
        let that = $(this);
        // check input fields
        let emailValid = isValidEmail(email);
        let filesValid = fileIds.length > 0;

        if (!emailValid) {
            $('#email-error').fadeIn(fadeDuration);
            return;
        } else {
            $('#email-error').fadeOut(fadeDuration);
        }

        if (!filesValid) {
            $('#files-error').fadeIn(fadeDuration);
            return;
        } else {
            $('#files-error').fadeOut(fadeDuration);
        }

        let text = that.text();
        that.text('正在推送中...');
        that.prop('disabled', true);
        $.ajax({
            url: '/push',
            type: 'POST',
            data: JSON.stringify({
                email: email,
                fileIds: fileIds
            }),
            timeout: 10000,
            contentType: 'application/json; charset=utf-8',
            success: (response) => {
                response = JSON.parse(response);
                if (response.code === 0) {
                    that.text('推送成功！待会儿去你的 Kindle 看看吧~');
                    fileIds = [];
                } else {
                    that.text('呜呜呜推送失败了，检查下你的网络情况，重新试试吧');
                }
                setTimeout(() => {that.text(text); that.prop('disabled', false);}, 3000);
            },
            error: (request, status, errorThrown) => {
                if (status === 'timeout') {
                    that.text('请求超时了呢，重新试试看~');
                } else {
                    that.text('你是不是还没联网吖...');
                }
                setTimeout(() => {that.text(text); that.prop('disabled', false);}, 3000);
            }
        });
    });
});

</script>

</body>
</html>




